<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather Application</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <center>
        
        <form>
            <h2>Get real time weather information</h2>
            <input type="text" placeholder="Enter Location" id="location">&nbsp;&nbsp;&nbsp;<button>Search</button>
        </form>

        <div id="content">
            <p id="message-one"></p>
            <hr>
            <p id="message-two"></p>
        </div>
    </center>
    <div id="background-wrap">
        <div class="x1">
            <div class="cloud"></div>
        </div>

        <div class="x2">
            <div class="cloud"></div>
        </div>

        <div class="x3">
            <div class="cloud"></div>
        </div>

        <div class="x4">
            <div class="cloud"></div>
        </div>

        <div class="x5">
            <div class="cloud"></div>
        </div>
    </div>
    <script src="/js/app.js"></script>
</body>

</html>