<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather Application</title>
</head>

<body>
    <center>
        <form>
            <input type="text" placeholder="Enter Location" id="location">&nbsp;&nbsp;&nbsp;<button>Search</button>
        </form>
        <div id="content">
            <p id="message-one">Pune, Maharashtra, India</p>
            <hr>
            <p id="message-two">Partly cloudy. It is currently 26 degrees out. It feels like 28 degrees out.</p>
        </div>
    </center>
    <div id="background-wrap">
        <div class="x1">
            <div class="cloud"></div>
        </div>

        <div class="x2">
            <div class="cloud"></div>
        </div>

        <div class="x3">
            <div class="cloud"></div>
        </div>

        <div class="x4">
            <div class="cloud"></div>
        </div>

        <div class="x5">
            <div class="cloud"></div>
        </div>
    </div>
    <script src="/js/app.js"></script>
</body>

</html>